@model Beautydemo.Models.tb_admin

@{
    ViewBag.Title = "Details";
}

<h2>管理员详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confirmpassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confirmpassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.aid }) |
    @Html.ActionLink("返回", "Index")
</p>
